.x-factor-icon {
	background-image: url(data:image/gif;base64,R0lGODdhEAAQAOMKABVj0wt1zSeD2k6e6Tup6DGt4zut63XR8nLc/ZH2/////////////////////////ywAAAAAEAAQAAAEaFDJSasceBDAAcnDlSRHEAiCeYyhMpAGKgvG2g5HLBA8gdYtwmlXQCAKvhRBAjgRisajLwBgogjGkTFZVQCu2cQW1W0So9JUV3iFIlGBpSt37f0ON9jsnsiTTHABK30XGRsdHxkWixQRADs=);
	background-repeat: no-repeat;
	background-position: left center;
}

td.x-factor-icon>div{
	padding-left: 20px !important;
}